name: Mamba tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  mamba_test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Upgrade pip
      run: |
        python3 -m pip install --upgrade pipenv

    # - name: Write dulwich version to requirements.txt
    #   shell: bash
    #   run: |
    #     pipenv requirements | sed -nE 's/(^dulwich==.+$)/\1 --config-settings "--global-option=--pure"/p' > requirements.txt

    # - name: Install pure dulwich from requirements.txt
    #   run: |
    #     pipenv run pip install --no-binary dulwich -r requirements.txt

    - name: Install all other dependencies
      shell: bash
      run: |
        pipenv install --dev

    # # TODO Run each test separately?  (See: #145.)
    # # TODO Remove PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python hack on upgrading python.
    # - name: Run tests
    #   run: |
    #     pipenv run mamba ./
    #   env:
    #     PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
